body {
    font-family: "Jersey 25", sans-serif;
    font-size: 60px;
      height: 400px;
      background-image: url("https://c8.alamy.com/compes/2cgbmej/fuente-de-tren-locomotora-con-letras-abc-como-coches-de-ferrocarril-3d-renderizado-2cgbmej.jpg");
    background-size: cover;
      background-repeat:no-repeat;
      background-position: center center;
    }
    .jersey-25-regular, h1 {
      text-align: center;
      font-family: "Jersey 25", sans-serif;
      font-weight: 500;
      font-style: oblique 40deg;
      color:#FFC94A;
    }
     
  
    .jersey-25-regular, h2 {
      text-align: center;
      font-family: "Jersey 25", sans-serif;
      font-weight: 300;
      font-style: oblique 40deg;
      color:#41B06E;
    }
    
    
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 30px;
    width: 200px;
    border: 1px solid #874CCC;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 30px;
    font-style:italic;
    font-size: 20px;
    background-color: #FFC94A;
    color: #FFFFFF;
    border: solid;
    border-radius: 5px;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 5px solid black;
      padding: 5px;
      margin: 8px;
      min-width: 8px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      text-align: center;
      margin-bottom: 5px;
      background-color:#41B06E;
  }
     
  .input-area{
      text-align: center;
      margin: 10px;
      background-color:#C65BCF
  }
 
